/* estilizando o flex container do design: */
.design-content {
    display: flex;
    flex-direction: column;
    margin: 0 5vw;
    height: auto;
    padding-bottom: 100px;
    gap: 100px;
}

/* estilizando o flex-container das linhas: */
.linha-1, .linha-2 {
    display: flex;
    gap: 15vw;
    justify-content: center;
    align-items: center;
}

.linha-1 a, .linha-2 a{
    cursor: auto;
}

/* estilizando a div das imagens */
.linha-1-img, .linha-2-img {
    width: 500px;
    background-color: #E7E6DF;
    border-radius: 50%;
    box-shadow: -5px 5px 0px 2px #F17D6A;
    cursor: pointer;
    transition: all 0.3s;
}

.linha-1-img:hover, .linha-2-img:hover {
    width: 525px;
    transition: all 0.3s;
}

/* estilizando o texto das linhas: */
.linha-1-texto, .linha-2-texto {
    width: 500px;
    font-weight: bold;
    color: #E7E6DF;
}


/* invertendo a ordem da segunda linha */
.div-img-2{
    order: 1;
}

.linha-2-texto {
    order: 0;
    text-align: right;
}

/* responsividade */
@media (max-width: 720px) {
    /* estilizando o flex-container das linhas: */
    .linha-1, .linha-2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }

    /* estilizando a div das imagens */
    .linha-1-img, .linha-2-img {
        width: 50vw;
        background-color: #E7E6DF;
        border-radius: 50%;
        box-shadow: -5px 5px 0px 2px #F17D6A;
    }

    /* estilizando o texto das linhas: */
    .linha-1-texto, .linha-2-texto {
        width: 65vw;
        text-align: center;
    }


    /* invertendo a ordem da segunda linha */
    .linha-2-img {
        order: 0;
    }

    .linha-2-texto {
        order: 1;
    }

    .design-content{
        gap: 50px;
        height: auto;
        padding-bottom: 50px;
    }
}