/* import da fonte */
@import url('https://fonts.googleapis.com/css2?family=Saira+Semi+Condensed:wght@100;200;300;400;500;600;700;800;900&display=swap'); 
/* font-family: 'Saira Semi Condensed', sans-serif; */

/* reset css */
* { 
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

/* estilização das estruturas: */
body {
    background-color: #E7E6DF;
    font-family: 'Saira Semi Condensed', sans-serif;
    font-size: 2em;
}

main {
    position: relative;
    height: 50vh;
}

.divisor-onda-desktop > svg {
    position: absolute;
    bottom: -1vh;
    filter: drop-shadow(0px -1.5vw 0px #F17D6A);
    z-index: -1;
}

.divisor-onda-mobile {
    display: none;
}

.design {
    background-color: #113940;
    box-shadow: 0px 10px 0px 0px #F17D6A;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}

footer {
    background-color: #113940;
    box-shadow: 0px -10px 0px 0px #F17D6A;
}

/* responsividade */

@media (max-width: 720px) {
    /* configurando o tamanho da fonte mobile */
    body {
        font-size: 1.6em;
    }
    
    .design {
        height: 190vh;
    }

    /* esconde a onda desktop */
    .divisor-onda-desktop {
        display: none;
    }

    /* ativa a onda mobile */
    .divisor-onda-mobile {
        display: block;
    }

    .divisor-onda-mobile > svg {
        position: absolute;
        bottom: -1vh;
        filter: drop-shadow(0px -1.5vw 0px #F17D6A);
        z-index: -1;
    }
}
