.formulario-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


 .input {
    display: flex;
    flex-direction: column;
    
}
.input label{
    margin:15px;
}

.input input {
    height: 3.5em;
    width: 50em;
    border-radius: 15px;
    border: 3px solid #113940;
}

.input textarea{
    height: 15em;
    width: 50em;
    border-radius: 15px;
    border: 3px solid #113940;
    resize: none;
}

.input{
    display: flex;
    flex-direction: column;
}

.input input[type=submit]{
    margin: 30px;
    align-self: center;
    max-width: 150px;
    padding: 13px 20px;
    border-radius: 27px;
    box-shadow: -3px 2px 0px 2px rgba(241,125,105,1);
    background-color: #113940;
    color: white;
    font-size: 0.7em; 
}  

 @media screen and (max-width: 720px){
    
 }