.main-content{
    margin: 0 5vh;
    width: 90vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.main-content h1{
    font-size: 2.5em;
    color: #113940;
}

.main-content p{
    text-align: justify;
}

.main-content button{
    background-color: #113940;
    color: #E7E6DF;
    font-size: 1.2em;
    width: 400px;
    height: 90px;
}

.main-content img{
    width: 25vw;
}

.main-content-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 50vw;
    height: 50vh;
}

.main-content-text-mobile{
    display: none;
}

@media (max-width: 720px) {

    .main-content-text-mobile{
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .main-content-text-mobile{
        height: 46vh;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .main-content-text-mobile button{
        background-color: #E7E6DF;
        color: #113940;
        font-size: 0.9em;
        width: 300px;
        height: 80px;
    }

    .main-content-text-mobile h1{
        color: #E7E6DF;
        font-size: 1.8em;
        text-align: center;
    }

    .main-content-text-mobile p{
        width: 80vw;
        color: #E7E6DF;
        text-align: justify;
    }

    .main-content img{
        width: 50vw;
    }

    .main-content-text{
        display: none;
    }
}

@media screen and (max-width: 470px) {
    .main-content-text-mobile h1{
        font-size: 1.4em;
    }

    .main-content-text-mobile p{
        font-size: 0.8em;
    }
}

@media screen and (max-width: 390px) {
    .main-content-text-mobile h1{
        font-size: 1.2em;
    }

    .main-content-text-mobile p{
        font-size: 0.7em;
    }

    .main-content-text-mobile button{
        font-size: 0.7em;
        width: 200px;
        height: 60px;
    }
}